{% assign rating = product.metafields.judgeme.rating | default: 0 | plus: 0 %}
<div class="a-stars" data-rating="{{ rating }}">
  {% for i in (1..5) %}
    <svg class="star {% if rating >= i %}active{% endif %}" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6832 0.952614C12.7651 0.780983 13.0094 0.780983 13.0913 0.952614L13.2954 0.855246L13.0913 0.952615L16.2892 7.65438C16.3881 7.8616 16.5851 8.00473 16.8127 8.03473L24.1747 9.00518C24.3632 9.03003 24.4387 9.26238 24.3008 9.39331L18.9153 14.5057C18.7488 14.6637 18.6735 14.8953 18.7153 15.1211L20.0673 22.4226C20.102 22.6096 19.9043 22.7532 19.7372 22.6625L13.2108 19.1204C13.009 19.0108 12.7655 19.0108 12.5637 19.1204L6.03733 22.6625C5.87019 22.7532 5.67254 22.6096 5.70717 22.4226L7.05919 15.1211C7.101 14.8953 7.02575 14.6637 6.85923 14.5057L1.47368 9.39331C1.33576 9.26238 1.41125 9.03003 1.59979 9.00518L1.57024 8.78103L1.59979 9.00518L8.96176 8.03473C9.1894 8.00473 9.3864 7.8616 9.48528 7.65438L12.6832 0.952614Z" 
        fill="#E2E2E2" stroke="#D5D5D5" stroke-width="0.452184"/></svg>
  {% endfor %}
</div>



<div class="a-stars">
  <!-- Start of Judge.me code --> 
  <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
    {{ product.metafields.judgeme.badge }} 
  </div> 
  <!-- End of Judge.me code -->\
</div>


