<footer class="l-footer">
    <div class="u-container">
        <div class="l-footer__top">
            
        </div>
        <div class="l-footer__middle">
            
        </div>
        <div class="l-footer__middle">
            Feito com ❤ por <a href="https://lovifydigital.com/" target="_blank">Lovify</a>
        </div>
    </div>
</footer> 