<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="{{ settings.logo }}">
                <img src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo">
            </a>
        </div>
        <div class="header__bottom">
            {% section 'menu' %}
        </div>
    </div>
</header>

