<header class="py-5">
    <div class="container">
        <div class="flex justify-between items-center">
            <a href="/">
                <img class="wireframe" src="{{ 'gray.png' | asset_url }}" alt="" width="197" height="75">
            </a>
            <ul class="flex gap-5">
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>