<header>
    <div class="container">
        <div class="flex justify-between items-center pt-8 pb-9">
            <a href="/">
                <img class="wireframe" src="{{ 'gray.png' | asset_url }}" alt="" width="197" height="75">
            </a>
            <ul class="flex gap-5">
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="wireframe w-[88px] h-[75px]" src="{{ 'gray.png' | asset_url }}" alt="" width="88" height="75">
                    </a>
                </li>
            </ul>
        </div>
        <nav class="py-8">
            <ul class="bg-[url('https://telecenter-eletronica.myshopify.com/cdn/shop/t/3/assets/gray.png')]  flex justify-between items-center [&>li]:font-bold [&>li]:opacity-0 h-[40px]">
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
                <li>
                    <a href="/">Lorem ipsum</a>
                </li>
            </ul>
        </nav>
    </div>
</header>