<header>
    <div class="container">
        <div>
            <a href="{{ shop.url }}">
                <img src="{{ shop.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo">
            </a>
        </div>
        <div>

        </div>
    </div>
</header>