<header>
    <div class="container">
        <div>
            <a href="{{ settings.logo }}">
                <img src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo">
            </a>
        </div>
        <div>

        </div> 
    </div>
</header>

{% schema %}
[
    {
        "name": "Layout",
        "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo da loja"
        }
        ]
    }
]
{% endschema %}