<header class="py-5">
    <div class="container">
        <div class="flex justify-between items-center">
            <a href="#">
                <img src="" alt="" width="197" height="75" class="bg-gray-300">
            </a>
            <ul class="flex gap-5">
                <li>
                    <a href="">
                        <img src="" alt="" width="88" height="75" class="bg-gray-300">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="" width="88" height="75" class="bg-gray-300">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="" width="88" height="75" class="bg-gray-300">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>