# Node
node_modules/
package-lock.json

# VSCode
.vscode/

# Shopify
.shopify/

# Build
dist/
build/
.cache/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
