body {
    color: get-color(neutral, darkGray);
    background: get-color(neutral, lightGray);
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif; 
}   

*, *::before, *::after {
    color: get-color(neutral, darkGray);
}

figure {
    display: flex;
}
  