html, body {
    //overflow-x: hidden;
}

body {
    color: get-color(neutral, darkGray);
    background: get-color(neutral, lightGray);
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif; 
    margin: 190px 0 0;
}   

*, *::before, *::after {
    color: get-color(neutral, darkGray);  
}

figure {
    display: flex;
}


