<!doctype html>
<html>
    <head>
        {{ content_for_header }}
        <link rel="stylesheet" href="{{ 'style.min.css' | asset_url }}">
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
        {% render 'footer' %}
        <script src="{{ 'script.min.js' | asset_url }}" defer></script>
    </body>
</html>