<!doctype html>
<html>
    <head>
        {{ content_for_header }}
        {{ 'style.min.css' | asset_url | stylesheet_tag }}
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
        {% render 'footer' %}
        {{ 'script.min.js' | asset_url | script_tag }}
    </body>
</html>