.o-product-information {
    .container {
        display: flex;
        align-items: flex-start;
        gap: 60px;
        @include mobile {
            gap: 32px;
            flex-direction: column;
        }
    }

    &__gallery {
        width: 522px;
        position: sticky;
        top: 120px;

        @include mobile {
            width: 100%;
        }

        &__images {
            &--current {
                overflow: hidden;
                border-radius: 16px;
                position: relative;
                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    z-index: 22;
                    cursor: pointer;
                    scale: .7;
                    // filter: invert(1) contrast(100);

                    &.slick-prev {
                        left: 22px;
                    }

                    &.slick-next {
                        right: 22px;
                    }
                }
                img {
                    object-fit: cover;
                    object-position: center;
                }
            }
            &--all {
                margin: 32px 0 0;
                width: calc(100% + 12px);
                left: 50%;
                transform: translateX(-50%);
                figure {
                    margin: 0;
                    height: 168px;
                    padding: 0 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: center;
                        cursor: pointer;
                        transition: all .3s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &:hover {
                    img {
                        opacity: .7;
                    }
                }
            }
        }
    }

    &__main {
        flex: 1;
        @include mobile {
            width: 100%;
        }
        &__title {
            margin: 0 0 16px;
        }
        &__sku {
            margin: 0 0 32px;
        }
        &__old-price {
            margin: 0 0 8px;
            font-size: 14px;
            text-decoration: line-through;
            opacity: .7;
        }
        &__price-with-discount {
            margin: 0 0 8px;
        }
        &__pix {
            margin: 0 0 24px;
            strong {
                color: get-color(primary, 200);
            }
        }
        &__original-price {
            margin: 0 0 4px;
        }
        &__installments {
            margin: 0 0 24px;
        }
        &__quantity-label {
            margin: 0 0 12px;
        }
        &__quantity-field {
            position: relative;
            width: max-content;
            margin: 0 0 39px;
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
                font-weight: 900;
                color: get-color(neutral, gray);
                cursor: pointer;
                &.decrease {
                    left: 10px;
                }
                &.increase {
                    right: 10px;
                }
            }
            input {
                border-radius: 10px;
                border: 2px solid get-color(neutral, gray);
                text-align: center;
                height: 40px;
                color: get-color(neutral, darkGray);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.8px;
                width: 180px;
                pointer-events: none;
            }
        }
        &__button {
            width: 100%;
            text-transform: uppercase;
            margin: 0 0 38px;
        }
        &__shipping {
            margin: 0 0 32px;
            color: red;
        }
        &__description {
            font-size: 14px;
            ul {
                li {
                    list-style-type: disc;
                    margin-left: 20px;
                }
            }
        }
    }
}