.o-product-information {
    margin: 32px 0 0;
    .container {
        display: flex;
        align-items: flex-start;
        gap: 128px;
        @include mobile {
            gap: 32px;
            flex-direction: column;
        }
    }

    &__gallery {
        width: 522px;

        @include mobile {
            width: 100%;
        }

        &__images {
            &--current {
                overflow: hidden;
                border-radius: 16px;
                position: relative;
                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    z-index: 22;
                    cursor: pointer;

                    &.slick-prev {
                        left: 22px;
                    }

                    &.slick-next {
                        right: 22px;
                    }
                }
            }
            &--all {
                margin: 32px 0 0;
                width: calc(100% + 12px);
                left: 50%;
                transform: translateX(-50%);
                figure {
                    margin: 0;
                    height: 168px;
                    padding: 0 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: center;
                        cursor: pointer;
                        transition: all .3s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &:hover {
                    img {
                        opacity: .7;
                    }
                }
            }
        }
    }

    &__main {
        flex: 1;
        @include mobile {
            width: 100%;
        }
        &__description {
            font-size: 14px;
            ul {
                li {
                    list-style-type: disc;
                    margin-left: 20px;
                }
            }
        }
    }
}