.o-products {
    padding: 0 0 80px;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
}