{% if section.settings.collections != blank %}
    <section class="home__collections">
        <div class="container">
            <div class="home__collections__items"> 
                {% for collection in section.settings.collections %}
                    <a class="home__collections__items__item" href="{{ collection.url }}">
                        <figure>
                            <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
                            <figcaption>{{ collection.title }}</figcaption>
                        </figure>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
    "name": "Coleções",
    "settings": [
        {
            "type": "collection_list",
            "id": "collections",
            "label": "Escolha as coleções",
            "limit": 5,
        }
    ],
    "presets": [
        {
            "name": "Coleções"
        }
    ]
}
{% endschema %}