
<section class="home__collections">
    <div class="container">
    </div>
</section>

{% schema %}
{
    "name": "Coleções",
    "settings": [
        {
            "type": "collection_list",
            "id": "collections",
            "label": "Escolha as coleções",
            "limit": 5,
        }
    ],
    "presets": [
        {
            "name": "Coleções"
        }
    ]
}
{% endschema %}