{% if section.blocks != blank %}
  <section class="home__hero" data-aos="fade-in" data-aos-delay="500">
    <div class="container">
      <div class="home__hero__slick js-hero">
        {% for block in section.blocks %}
            <a class="home__hero__slick__item" href="{% if block.settings.link != blank %} {{ block.settings.link }}{% else %}javascript:void(0){% endif %}">
              <figure>
                <img src="{{ block.settings.imagem | img_url: 'master' }}" alt="" width="" height="">
              </figure>
            </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
  
{% schema %}
  {
    "name": "Hero",
    "settings": [],
    "blocks": [
      {
        "type": "imagem",
        "name": "Imagem",
        "settings": [
          {
            "type": "image_picker",
            "id": "imagem",
            "label": "Selecionar imagem"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link da imagem"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "Imagens",
        "category": "Custom",
        "blocks": [
          {
            "type": "imagem"
          }
        ]
      }
    ]
  }
{% endschema %}
  