<nav>
    <ul>
      {% for block in section.blocks %}
        {% assign parent = block.settings.parent %}
        {% assign children = block.settings.subcollections %}
        {% if parent %}
          <li>
            <a href="{{ parent.url }}">{{ parent.title }}</a>
            {% if children.size > 0 %}
              <ul>
                {% for child in children %}
                  <li>
                    <a href="{{ child.url }}">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  
  {% schema %}
  {
    "name": "Menu primário",
    "settings": [],
    "blocks": [
      {
        "type": "menu_item",
        "name": "Item",
        "settings": [
          {
            "type": "collection",
            "id": "parent",
            "label": "Item"
          },
          {
            "type": "collection_list",
            "id": "subcollections",
            "label": "Sub item"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "Menu primário",
        "category": "Navegação"
      }
    ]
  }
  {% endschema %}
  