{% assign products = collections.all.products | sort: 'best-selling' %}

{% if products != blank %}
    <section class="o-featured-products" data-aos="fade-in">
      <div class="container">
        <h1 class="o-featured-products__title">{{ section.settings.title }}</h1>
        <div class="o-featured-products__items js-products-single-line"> 
            {% for product in products limit: 8 %}
                {% render 'm-card', product: product %}
            {% endfor %}
        </div>
      </div>
    </section>
{% endif %}
  

{% schema %}
{
    "name": "Mais vendidos",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Mais Vendidos"
        }
    ],
}
{% endschema %}