<section class="o-order" data-aos="fade-in">
    <form>
      <label>Ordenar por:</label>
      <select name="order" id="order">
        <option value="lowest_price">Menor preço</option>
        <option value="highest_price">Maior preço</option>
      </select>
    </form>
</section>