<section class="o-products" data-aos="fade-in">
  <div class="container js-products">
    {% if collection %}
      {% for product in collection.products %}
        {% render 'm-card', product: product %}
      {% endfor %}
    {% else %}
      {% for product in collections.all.products %}
        {% render 'm-card', product: product %}
      {% endfor %}
    {% endif %}
  </div>
</section>
