{% if section.settings.collection %} 
  <section class="c-single-collection">
    <div class="u-container"> 
      <h1 class="c-single-collection__title" data-aos="fade-in">{{ section.settings.collection.title }}</h1>
      <div class="c-single-collection__items js-single-collection" data-aos="fade-in"> 
        {% for product in section.settings.collection.products %}
          {% render 'card', product: product %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
  
{% schema %}
  {
    "name": "Coleção única",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Escolha a coleção"
      }
    ],
    "presets": [
      {
        "name": "Coleção única"
      }
    ]
  }
{% endschema %}
  