{% if section.settings.collection %} 
  <section class="c-products-single-line" data-aos="fade-in">
    <div class="u-container"> 
      <h1 class="c-products-single-line__title">{{ section.settings.collection.title }}</h1>
      <div class="c-products-single-line__items js-products-single-line"> 
        {% for product in section.settings.collection.products %}
          {% render 'card', product: product %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
  
{% schema %}
  {
    "name": "Coleção única",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Escolha a coleção"
      }
    ],
    "presets": [
      {
        "name": "Coleção única"
      }
    ]
  }
{% endschema %}
  