.a-stars {
    margin: 0 0 5px;
    .star {
        width: 18px;
        display: inline-block;
        font-size: initial;
        &.active {
            path {
                fill: get-color(secondary, 100);
            }
        }
    }
    .jdgm-prev-badge__text {
        display: none;
    }
    .jdgm-widget, .jdgm-prev-badge[data-average-rating="0.00"] {
        display: block !important;
    }
}