<main class="page">
    <div class="container">
        <div>
            <div>
                
            </div>
            <div>
                {% section 'o-order' %}
                {% section 'o-products' %}
            </div>
        </div>
        <div>
            {% section 'o-banners' %}
        </div>
    </div>
</main>  