<main class="home">
    {% section 'hero' %}
    {% section 'collections' %}
    {% section 'single-collection-1' %}
    {% section 'banner' %}
    {% section 'stores' %}
    {% section 'single-collection-2' %}
</main>  