<main class="home">
    {% section 'hero' %}
    {% section 'collections' %}
    {% section 'single-collection' %}
    {% section 'banner' %}
    {% section 'stores' %}
    {% section 'best-selling' %}
    {% section 'seals' %}
</main>  