<main class="page">
    {% section 'o-hero' %}
    {% section 'o-collections' %}
    {% section 'o-single-collection' %}
    {% section 'o-banner' %}
    {% section 'o-stores' %}
    {% section 'o-best-selling' %}
    {% section 'o-seals' %}
    {% section 'o-about' %}
</main>  