<main class="page">
    <div class="container">
        <div>
            {% section 'o-order' %}
            {% section 'o-products' %}
        </div>
        <div>
            {% section 'o-banners' %}
        </div>
    </div>
</main>  