.c-about {
    margin: 0 0 80px;
    @include mobile {
        margin: 0 0 50px;
    }
    &__title {
        text-align: center;
        margin: 0 0 24px;
    }
    &__content {
        display: flex;
        gap: 20px;
        align-items: center;
        @include mobile {
            flex-direction: column-reverse;
        }
        &__text {
            flex: 1;
            @include mobile {
                width: 100%;
            }
        }
        &__image {
            flex: 1;
            border-radius: 20px;
            overflow: hidden;
            @include mobile {
                width: 100%;
            }
            img {
                width: 100%; 
            }
        }
    }
}