.c-single-collection {
    &__title {
        text-align: center;
        margin: 0 0 24px;
    }
    &__items {
        width: calc(100% + 40px);
        margin-left: -22px;
        padding-bottom: 50px;
        @include mobile {
            width: 100dvw; 
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-left: unset;
        }  
        article {
            @include mobile {
                width: 280px;
            }
        }
        &.slick-slider {
            position: relative;
            .slick-list { 
                overflow: visible;
            }
            .slick-slide {
                // opacity: 0;
                pointer-events: none;  
                &.slick-active {
                    opacity: 1;
                    // pointer-events: unset;
                }
            } 
            .slick-arrow {
                position: absolute;
                bottom: -10px; 
                scale: 1.3;
                transition: all .3s;
                z-index: 99;
                display: grid; 
                place-items: center;
                cursor: pointer;  
                &.slick-arrow {
                    transform: translateX(-50%);
                } 
                &.slick-prev {
                    left: calc(50% - 30px);
                }
                &.slick-next {
                    left: calc(50% + 30px);
                }
                &.slick-disabled {
                    cursor: default;
                    opacity: .1;
                }
            }
        }
    }
}
