.c-single-collection {
    &__title {
        text-align: center;
        margin: 0 0 24px;
    }
    &__items {
        width: calc(100% + 52px);
        margin-left: -22px;
        @include mobile {
            width: 100dvw;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-left: unset;
        }
        &.slick-slider {
            position: relative;
            .slick-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                scale: 1.3;
                transition: all .3s;
                cursor: pointer;
                &.slick-prev {
                    left: -30px;
                }
                &.slick-next {
                    right: -30px;
                }
                &.slick-disabled {
                    cursor: default;
                    opacity: .1;
                }
            }
        }
    }
}
