.c-stores {
    margin: 0 0 80px;
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        &__item {
            figure {
                height: 40px;
                transition: all .3s;
                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}