// Colors
$colors: (
  primary: (
    100: #00429D,
    200: #272D8F,
    300: #15184C
  ),
  secondary: (
    100: #F1CD32,
  ),
  tertiary: (
    100: #D93332, 
  ),
  neutral: (
    lightGray: #F5F5F5, 
    gray: #DEDEDE,
    darkGray: #333,
    black: #000,
    white: #fff
  ) 
); 
 
// Functions
@function color($name, $shade) {
    @if map-has-key($colors, $name) and map-has-key(map-get($colors, $name), $shade) {
      @return map-get(map-get($colors, $name), $shade);
    }
    @warn "Cor `#{$name}-#{$shade}` não encontrada!";
    @return null;
}
  
// Mixins
@mixin mobile {
    @media (max-width: 1199px) {
        @content;
    }
}
  