// 🧠 SCSS logic
@import "abstracts";

// ⚛️ Atoms
@import "ui/atoms/a-button";
@import "ui/atoms/a-stars";

// 🧪 Molecules
@import "ui/molecules/m-card";

// 🧬 Organisms
@import "ui/organisms/o-filter";
@import "ui/organisms/o-order";
@import "ui/organisms/o-products";
@import "ui/organisms/o-banners";

/** **/

.page {
    >.container {
        >*:nth-of-type(1) {
            display: flex;
            >*:nth-of-type(1) {
                width: 300px;
            }
            >*:nth-of-type(2) {
                flex: 1;
            }
        }   
    }
}