@use "utils" as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  color: color(neutral, darkGray);
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: color(neutral, lightGray);
}

.container { 
  margin: 0 auto; 
  max-width: 1280px; 
  width: 100%;
  @include mobile {
    padding: 0 16px;
  } 
}  
   
.header {   
  padding: 32px 0;  
  z-index: 10;
  >.container {
    display: flex; 
    flex-direction: column;
    gap: 32px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    &__left {
      img {
        width: 200px;
      }
    }
    &__right {
      display: flex;
      gap: 16px;
    } 
  }
  &__bottom {
    nav {
      >ul {
        display: flex;
        justify-content: center;
        gap: 40px;
        >li {
          >a {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 13px;
            position: relative;
            &::before {
              content: '';
              width: 0px;
              height: 1px;
              background: color(primary, 100);
              position: absolute;
              top: 100%;
              left: 0;
              transition: all .3s;
            }
          }
          &.has-children {
            position: relative;
            >a { 
              &::after {
                content: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="%23333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                transition: all .3s;
                display: inline-block;
              }
            }
            >ul {
              position: absolute;
              top: calc(100% + 40px);
              opacity: 0;
              width: 100%;
              border-radius: 8px;
              background: #FFF; 
              pointer-events: none;
              transition: all .3s;
              padding: 12px;
              &::before {
                content: ''; 
                top: -15px; 
                height: 15px;
                width: 100%;
                position: absolute;
              }
              >li {
                >a {
                  display: block;
                  padding: 6px 8px; 
                  position: relative;
                  transition: all .3s; 
                  border-radius: 4px;
                }
                &:hover { 
                  >a {
                    background: color(neutral, lightGray);
                  }
                }
              }
            }  
            &:hover {
              >a {
                &::after {
                  content: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="%23272D8F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                  transform: rotate(90deg); 
                }
              }
            }
          }
          &:hover {
            >a {
              color: color(primary, 100);
              &::before {
                width: 100%;
              }
            }
            >ul {
              opacity: 1; 
              top: calc(100% + 15px);
              pointer-events: unset;
            }
          } 
        }
      }
    } 
  }
}
