.home {

    &__hero {

        &__slick {
            &__item {
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &:not(.slick-initialized) {
                >a:not(:first-of-type) {
                    display: none;
                }
            }
        }  
 
    }

}        